 Volume in drive C is OS
 Volume Serial Number is 5EFB-C616

 Directory of C:\Users\ayyappvx\Desktop\MyGitProjects

03/01/2019  04:26 PM    <DIR>          .
03/01/2019  04:26 PM    <DIR>          ..
03/01/2019  04:26 PM                 0 test1.tt
               1 File(s)              0 bytes
               2 Dir(s)  179,961,278,464 bytes free
